{% extends 'base.html.twig' %}

{% block title %}Edit Customer
{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-header">
			<h1>Modifier un client</h1>
		</div>
		<div class="card-body">
			{{ include('customer/_form.html.twig', {'button_label': 'Modifier'}) }}
		</div>
	</div>

	<a class="btn btn-primary" href="{{ path('customer_index') }}">Retour</a>

	{# {{ include('customer/_delete_form.html.twig') }} #}
{% endblock %}
